@import url(common.css);

.main-text-box {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 2.8rem;
    padding: 2.5rem 0;
}

.main-para-box {
    position: absolute;
    width: 1160px;
    left: 60%;
    top: 48%;
    transform: translate(-50%, -50%);
}

.about-us-title {
    padding: 4.3rem 0;
    background-color: #83450f;
}

.about-us-title h2{
    color: #f1b37d;
}

.about-us-title h5{
    font-size: 1.5rem;
    color: #fff;
    padding-top: 0.8rem;
    font-weight: 400;
}

.about-us-content-type-1 {
    padding: 3rem 0;
    background-color: #fcf2e8;
    text-align: center;
}

.about-us-content-type-1 p {
    font-size: 1.6rem;
}
