/*
-------- Global Tags --------
*/
:root {
    --main-text-color: #000;
    --main-theme-color: #924d10;
    --branding-text-color: #fff;
    --header-text-color: #fff;
    --navbar-btn-text-color: #fff;
    --navbar-btn-visited-text-color: #fff;
    --navbar-btn-hover-color: #fff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Lato', 'Arial', sans-serif;
    color: var(--main-text-color);
    font-size: 1vw;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    scroll-behavior: smooth;
}

.row {
    max-width: 1140px;
    margin: 0 auto;
}

/* --------- Text Elements ------------ */

h1,
h2 {
    font-weight: 300;
    letter-spacing: 1px;

}

/* -------------- Navigation Bar ------------ */
.main-nav-bar {
    overflow: hidden;
    width: 100vw;
    padding: 0% 10%;
    margin: 0 auto;
    height: 14%;
    z-index: 1;
    transition: background-color 0.5s, height 0.5s;
}

section {
    padding: 80px 0;
}

ul {
    margin: 0;
    padding: 0;
}


.branding {
    float: left;
    color: var(--branding-text-color);
}

.branding h1 {
    font-family: Lobster Two;
    font-size: 10vh;
    font-size: 4vw;
    padding-bottom: 0;
    text-transform: lowercase;
    margin-bottom: 0px;
    margin-left: auto;
    transition: font-size 0.5s;
}

.branding h4 {
    font-size: 5vh;
    font-size: 1.2vw;
}

.main-nav {
    float: right;
    list-style: none;
    margin-top: 60px;
}

.main-nav li {
    display: inline-block;
    margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
    padding: 8px 0;
    color: var(--navbar-btn-visited-text-color);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.2vw;
    font-weight: 400;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.2s, font-weight 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active {
    border-bottom: 2px solid var(--navbar-btn-hover-color);
    font-weight: 600;
    transition: border-bottom 0.2s;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    height: 7%;
    background-color: #de7519;
    color: var(--navbar-btn-text-color);
    transition: background-color 0.5s, height 0.5s;
}

.sticky .branding h1{
    font-size: 7.5vh;
    font-size: 3vw;
    transition: font-size 0.5s;
}

.sticky .branding h4{
    display: none;
    transition: display 0.5s;
}

.sticky .main-nav {
    margin-top: 20px;
    transition: margin-top 0.5s;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
    padding-top: 40px;
}

/* --------- Footer -------- */
.footer-main {
    width: 100vw;
   display: inline-block;
    margin-top: 3vh;
}

.footer-main a{
    text-decoration: none;
     color: #fff;
    line-height: 2px;
}

.footer-main a:hover{
    color: #f1b37d;
    font-weight: 600;
}
.footer-box {
    float: left;
    width: 33.333%;
    height: 25vh;
    box-sizing: border-box;
    background-color: #552d0a;
    margin: 0;
    padding: 7vh 0;
    text-align: center;
    line-height: 3vh;
}

.footer-box-middle {
    float: left;
    width: 33.333%;
    height: 25vh;
    box-sizing: border-box;
    background-color: #552d0a;
    margin: 0;
    padding-top: 2vh;
    text-align: center;
}

.footer-box-middle h1 {
    font-size: 3.3rem;
    color: #f1b37d;
}

.footer-box-middle h4 {
    font-size: 1.1rem;
    color: #f1b37d;
}


.footer-box .branding{
    text-align: center;
    padding-top: 3vh;
}

.footer-box ul{
    padding: 0% 10%;
    margin: 0 auto;
    list-style: none;
}

.footer-box li{
    font-size: 1.2vw;
    font-weight: 400;
}

.quote-bar {
    text-align: center;
    background-color: #552d0a;
    color: #fff;
    font-weight: 500;
}
.quote-bar p {
    padding: 2vh 0;
    font-size: 3.5rem;
}

.quote-bar:after {
    display: block;
    height: 1px;
    background-color: #924d11;
    content: " ";
    width: 100vw;
}

.social-buttons {
    margin-top: 3vh;
    padding: 2px 0;
    font-size: 2rem;
    letter-spacing: 7px;
}

.social-button:hover {
    color: #eb9951;
}

.sub-footer {
    text-align: center;
}

.copyright-message p{
    font-size: 1rem;
}
