@import url(common.css);

/* Fonts or texts */
h1 {
    margin: 0;
    margin-bottom: 20px;
    font-size: 240%;
    word-spacing: 4px;
    text-transform: uppercase;
}

h3 {
    font-size: 125%;
    text-transform: uppercase;
    padding: 5px 0;
}

/* -----------Header------- */
header {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.81)), to(rgba(0, 0, 0, 0.81))), url(main-bg.jpg);
    background-image: linear-gradient(rgba(0, 0, 0, 0.81), rgba(0, 0, 0, 0.81)), url(main-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
}

/* --------- Header Body containts ------------ */

.main-text-box {
    position: absolute;
    width: 82vw;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    color: var(--header-text-color);
}

/* --------- Body -------- */
.container {
    position: absolute;
    width: 82vw;
    left: 50%;
    -webkit-transform: translate(-50%, -20%);
    transform: translate(-50%, -20%);
}

.box {
    padding: 8% 3%;
    text-align: center;
    border: 1px solid black;
    height: 38vw;
    -webkit-box-shadow: 1px 1px 1px 1px #888888;
    box-shadow: 1px 1px 1px 1px #888888;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
    transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
    transition: transform 0.5s, box-shadow 0.5s;
    transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
}

.box:hover {
    -webkit-box-shadow: 2px 2px 2px 2px #888888;
    box-shadow: 2px 2px 2px 2px #888888;
    -webkit-transform: scale(1.01);
    transform: scale(1.01);
    -webkit-transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
    transition: -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
    transition: transform 0.5s, box-shadow 0.5s;
    transition: transform 0.5s, box-shadow 0.5s, -webkit-transform 0.5s, -webkit-box-shadow 0.5s;
}

.box p {
    font-size: 110%;
    line-height: 145%;
}


.box-images {
    height: auto;
    width: 50%;
}

.connect-images {
    height: auto;
    width: 4rem;
}

.in_body_headings {
    color: var(--main-theme-color);
    font-size: 200%;
    font-weight: 600;
}

.work_showcase {
    list-style: none;
    width: 100%;
}

.work_showcase li {
    display: block;
    float: left;
    width: 25%;
    height: auto;
}

.work_showcase_photo {
    width: 100%;
    margin: 0;
    overflow: hidden;
    background-color: #000000;
}

.work_showcase_photo img {
    opacity: 0.7;
    width: 100%;
    height: auto;
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
    -webkit-transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: opacity 0.5s, -webkit-transform 0.5s;
    transition: transform 0.5s, opacity 0.5s;
    transition: transform 0.5s, opacity 0.5s, -webkit-transform 0.5s;
}

.work_showcase_photo img:hover {
    -webkit-transform: scale(1.03);
    transform: scale(1.03);
    opacity: 1;
}

.section-showcase {
    padding: 0;
    margin: 0;
}

#myBtn {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Fixed/sticky position */
    bottom: 1.6rem;
    /* Place the button at the bottom of the page */
    right: 2.6rem;
    /* Place the button 30px from the right */
    z-index: 99;
    /* Make sure it does not overlap */
    border: none;
    /* Remove borders */
    outline: none;
    /* Remove outline */
    background-color: red;
    /* Set a background color */
    color: white;
    /* Text color */
    cursor: pointer;
    /* Add a mouse pointer on hover */
    padding: 1rem;
    /* Some padding */
    border-radius: 10px;
    /* Rounded corners */
    font-size: 150%;
    /* Increase font size */
}

#myBtn:hover {
    background-color: #555;
    /* Add a dark-grey background on hover */
}

@media only screen and (max-width: 750px) {
    .box-images {
        height: auto;
        width: 80%;
    }

    .box-text {
        float: right;
        width: 50%;
        margin-right: 5vw;
        padding: 1vw 0;
        display: table-cell;
        vertical-align: middle;
    }

    h3 {
        font-size: 190%;
    }

    .box p {
        font-size: 150%;
        line-height: 145%;
    }

    .box {
        height: 22vw;
        padding: 2% 1%;
    }

    .box-image-container {
        margin: 2px;
        float: left;
        width: 30%;
        text-align: center;
        margin: 0 0 0 5vw;
    }
}
